<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alicia.dostudy" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <supports-screens
        android:normalScreens="true"
        android:largeScreens="true" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_owl"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

      <receiver android:name=".AlarmReceiver"/>
        <service android:name=".NotificationService" />

        <activity android:name=".HomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Calendar.CalendarEntryDetails"
            android:parentActivityName=".Calendar.CalendarActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alicia.dostudy.Calendar.CalendarActivity" >
            </meta-data>
        </activity>
        <activity android:name=".ToDoList.ToDoListActivity"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alicia.dostudy.HomeActivity" >
            </meta-data>
        </activity>
        <activity android:name=".Calendar.CalendarActivity"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alicia.dostudy.HomeActivity" >
            </meta-data>
        </activity>
        <activity android:name=".Calendar.AddCalendarEntryActivity"
            android:parentActivityName=".Calendar.CalendarActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alicia.dostudy.Calendar.CalendarActivity" >
            </meta-data>
        </activity>
        <activity android:name=".TimeTable.WeekActivity"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alicia.dostudy.HomeActivity" >
            </meta-data>
        </activity>
        <activity android:name=".TimeTable.MondayActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".TimeTable.WeekActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alicia.dostudy.TimeTable.WeekActivity" >
            </meta-data>
        </activity>
        <activity android:name=".TimeTable.TuesdayActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".TimeTable.WeekActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alicia.dostudy.TimeTable.WeekActivity" >
            </meta-data>
        </activity>
        <activity android:name=".TimeTable.WednesdayActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".TimeTable.WeekActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alicia.dostudy.TimeTable.WeekActivity" >
            </meta-data>
        </activity>
        <activity android:name=".TimeTable.ThursdayActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".TimeTable.WeekActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alicia.dostudy.TimeTable.WeekActivity" >
            </meta-data>
        </activity>
        <activity android:name=".TimeTable.FridayActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".TimeTable.WeekActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alicia.dostudy.TimeTable.WeekActivity" >
            </meta-data>
        </activity>
        <activity android:name=".Notes.NotesActivity"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alicia.dostudy.HomeActivity" >
            </meta-data>
        </activity>
        <activity android:name=".Notes.AddNoteActivity"
            android:parentActivityName=".Notes.NotesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alicia.dostudy.Notes.NotesActivity" >
            </meta-data>
        </activity>
        <activity android:name=".Notes.NotesDetails"
            android:parentActivityName=".Notes.NotesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alicia.dostudy.Notes.NotesActivity" >
            </meta-data>
        </activity>
        <activity android:name=".Grades.GradeActivity"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alicia.dostudy.HomeActivity" >
            </meta-data>
        </activity>

        <activity android:name=".TimeTable.CourseDetailActivity"></activity>


    </application>
</manifest>